*{ margin: 0;
   padding: 0;
   font-family: 'Merriweather', serif;
}

.banner-img{
   position: relative;
}

.banner-text{
   color: rgb(255, 255, 255);
   font-size: 40px;
   font-weight: 700;
   text-align: center;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   text-shadow: 3px 3px black;
}

.banner-img img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 85%;
  padding-top: 30px;
  padding-bottom: 50px;
  
}
.discount{
   text-align: center;
   color: red;

}
.discount h1{
   font-size: 60px;
   font-weight: 650;
}
.discount p{
   font-size: 20px;
   font-weight: 400;
   padding-top: 20px;
   padding-bottom: 7px;
}

.discount h3{
   font-size: 40px;
   font-size: 600;
   color: black;
}
.hny img{
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  padding-top: 30px;
  padding-bottom: 40px;
}
.greeting img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 85%;
   padding-top: 30px;
   padding-bottom: 30px;
}

.greeting{
   position: relative;
}
.greeting-text{
position: absolute;
bottom: 150px;
left: 166px;
color: white;

}
.greeting-text h1{
   font-size: 60px;
   font-weight: 600;
   padding-right: 550px;
   padding-bottom: 20px;
   text-shadow: 2px 2px red;
}
.greeting-text p{
   padding-right: 500px;
   font-size: 17px;
   font-weight: 370px;
   padding-bottom: 22px;
}
button{
   padding: 5px 10px;
   color: rgb(255, 255, 255);
   background-color: black;
   border: 0;
}
.venu{text-align: center;}

.btn2{
   padding: 7px 12px;
   background-color:red;
   color: white;
   margin: 25px;
   border-radius: 5px;
}
span{
   color: red;
}
section{
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  padding-top: 30px;
  padding-bottom: 20px; 
  background-color: antiquewhite;

}

.function{
   text-align: center;
   margin-top: 30px;
}
.function h4{
   font-size: 16px;
   font-weight: 450;
   padding-bottom: 10px;
}
.function p{
   padding: 10px 200px;
}
.gift{
   padding-left: 100px;
   padding-top: 30px;
   padding-bottom: 30px;
}
.gift h4{
   color: red;
   font-size: 16px;
   font-weight: 450;
   padding-bottom: 20px;
}
.gift p{
   padding-right: 350px;
   padding-top: 20px;
}
.card-sec{
   margin: 30px 100px;
}

.container{
   display: flex;
   justify-content: space-between;
}
img{
   max-width: 100%;

}
.card{
   max-width: 340px;
}

